.header {
    background-color: #021f50;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px; /* Decreased padding for smaller navbar */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s;
  }
  
  .header img {
    width: 120px; 
    height: auto;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 8px 12px;
  }
  
  nav a:hover {
    color: lightblue;
  }
  
  @media (max-width: 768px) {
    .header {
      padding: 5px 20px; 
    }
  
    .header img {
      width: 100px;
    }
  
    nav a {
      margin-left: 12px;
      padding: 6px 10px;
      font-size: 12px;
    }
  }
  